@media only screen and (min-width: 450px) {
  // desktop
  ::ng-deep .attributes-container {
    max-width: 30em !important;
    min-width: 18em !important;
  }
}
@media only screen and (max-width: 450px) {
  // mobile
  ::ng-deep .attributes-container {
    min-width: 70vw !important;
    max-width: 80vw !important;
  }
}
.attributes-container {
  padding: 1em 2.5em;
  margin: 1em;
}

.row {
  margin: auto;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6;
}
