<!-- Header -->
<header>
  <mat-toolbar color="{{(isAdminPage | async) ? 'warn' : 'primary'}}">
    <button
      type="button"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-button routerLink="">
      <h1>I-Portalen</h1>
    </button>
    <button *ngIf="isAdmin | async" mat-icon-button routerLink="admin">
      <mat-icon>security</mat-icon>
    </button>
    <span class="fill-remaining-space"></span>
    <span *ngIf="!(isLoggedIn | async)">
      <!--<button mat-button routerLink="login">-->
      <!--Logga in-->
      <!--</button>-->
    <mat-menu #appMenu="matMenu">
      <app-user-login></app-user-login>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="appMenu">
      Logga in
      <mat-icon>account_circle</mat-icon>
    </button>
    </span>
    <span *ngIf="isLoggedIn | async">

      <button mat-icon-button>
        <mat-icon>event</mat-icon>
      </button>

      <!--Content-->
      <button mat-icon-button [matMenuTriggerFor]="contentMenu">
        <mat-icon>add</mat-icon>
      </button>
      <mat-menu #contentMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>library_books</mat-icon>
          Nyhet
        </button>
        <button mat-menu-item>
          <mat-icon>event_note</mat-icon>
          Evenemang
        </button>
        <button mat-menu-item>
          <mat-icon>business_center</mat-icon>
          Näringsliv
        </button>
        <button mat-menu-item>
          <mat-icon>work</mat-icon>
          Jobbannons
        </button>
      </mat-menu>

      <!--Profile-->
      <button mat-icon-button [matMenuTriggerFor]="profileMenu">
        <mat-icon>person</mat-icon>
      </button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item routerLink="profile">
          <mat-icon>person</mat-icon>
          Profilsida
        </button>
        <button mat-menu-item>
          <mat-icon>notifications</mat-icon>
          Notifikationer
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>exit_to_app</mat-icon>
          Logga ut
        </button>
      </mat-menu>
    </span>
  </mat-toolbar>
</header>

<!-- Sidenav -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" [fixedInViewport]="true"
               [attr.role]="(isMobile | async) ? 'dialog' : 'navigation'"
               [mode]="(isMobile | async) ? 'over' : 'side'"
               [opened]="!(isMobile | async)">
    <!-- Default navigation options -->
    <mat-nav-list *ngIf="!(isAdminPage | async)">
      <a mat-list-item routerLink="events">
        <mat-icon>event_note</mat-icon>
        Evenemang
      </a>
      <a mat-list-item routerLink="bookings">
        <mat-icon>today</mat-icon>
        Bokningsportal
      </a>
      <a mat-list-item routerLink="organisations">
        <mat-icon>group</mat-icon>
        Organisationer
      </a>
      <a mat-list-item routerLink="sponsors">
        <mat-icon>business</mat-icon>
        Sponsorer
      </a>
      <h3>KONTO</h3>
      <a mat-list-item routerLink="">
        <mat-icon>exit_to_app</mat-icon>
        Logga ut
      </a>
    </mat-nav-list>

    <!--Admin navigation options-->
    <mat-nav-list *ngIf="isAdminPage | async">
      <a mat-list-item routerLink="admin/redigera-texter">
        <mat-icon>text_fields</mat-icon>
        Redigera texter
      </a>
      <a mat-list-item routerLink="admin/skapa-utskott">
        <mat-icon>group_add</mat-icon>
        Skapa utskott
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <article>
      <!-- Content -->
      <main>
        <ng-content></ng-content>
      </main>

      <!--Footer-->
      <footer>
        <app-footer></app-footer>
      </footer>
    </article>
  </mat-sidenav-content>
</mat-sidenav-container>
