<mat-card>
  <img routerLink="/readmore" class="card-img" mat-card-image src="https://iportalen-us.s3.amazonaws.com/client/article/1077/attachments/Internship%20ad_STHLM%20spring%2020.jpg">
  <mat-card-header>

  <div class="tag-item">{{post.tag}}</div>

  </mat-card-header>

  <mat-card-content>


      <mat-card-subtitle class="icon-subtitle">
        <i class="material-icons">calendar_today</i>
        <span class="icon-subtitle">
          <span class="tag-span">15 Mars</span>
        </span>
      </mat-card-subtitle>

      <mat-card-subtitle class="icon-subtitle">
        <i class="material-icons">access_time</i>
        <span class="icon-subtitle">
          <span class="tag-span">17:15</span>
        </span>
      </mat-card-subtitle>

      <mat-card-subtitle class="icon-subtitle">
        <i class="material-icons">location_on</i>
        <span class="icon-subtitle">
          <span class="tag-span">{{post.location}}</span>
        </span>
      </mat-card-subtitle>

      <mat-card-subtitle class="icon-subtitle">
        <i class="material-icons">people</i>
        <span class="icon-subtitle">
          <span class="tag-span">12(60)</span>
        </span>
      </mat-card-subtitle>


      <mat-card-subtitle class="icon-subtitle">
        <i class="material-icons">error_outline</i>
        <span class="icon-subtitle">
          <span class="tag-span">5 dagar, 21 h</span>
        </span>
      </mat-card-subtitle>

    <mat-card-title><a routerLink="/{{post.id}}">{{post.title}}</a></mat-card-title>

    <p>
      {{post.ingress}}
    </p>
  </mat-card-content>

  <!-- <mat-card-subtitle><span routerLink="/organisations/Ivent" class="organisation-span">Ivent</span>, 8 dagar, 15 timmar sedan</mat-card-subtitle> -->


  <mat-card-footer>

    <span class="footer-text">

      <span class="organisation-item">
        <span mat-card-avatar class="header-image"></span>
        <mat-card-subtitle>{{post.author}}</mat-card-subtitle>
      </span>

      <span class="readmore"><a routerLink="/{{post.id}}">
        <mat-card-subtitle class="readmore">Läs mer</mat-card-subtitle>
        </a>
      </span>

      <span class="date-item">
        <mat-card-subtitle>2019-03-24</mat-card-subtitle>
      </span>
    </span>
  </mat-card-footer>
</mat-card>
