<h1> Mina artiklar </h1>
<mat-list>
  <mat-list-item> <h3> Godkända artiklar </h3> </mat-list-item>
    <mat-list-item> <h5> Väntar på publikation </h5> </mat-list-item>
      <div class="content" fxLayout="row wrap" fxLayoutGap="0.5%">

        <happening-card fxFlex="100" fxFlex.gt-xs="45" *ngFor="let article of approvedWaitingArticles" [post]="article"></happening-card>

      </div>
    <mat-list-item> <h5> Publika artiklar </h5> </mat-list-item>
      <div class="content" fxLayout="row wrap" fxLayoutGap="0.5%">

        <happening-card fxFlex="100" fxFlex.gt-xs="45" *ngFor="let article of articles" [post]="article"></happening-card>

      </div>
  <mat-list-item> <h3> Väntar på godkännande </h3> </mat-list-item>
    <div class="content" fxLayout="row wrap" fxLayoutGap="0.5%">

      <happening-card fxFlex="100" fxFlex.gt-xs="45" *ngFor="let article of waitingArticles" [post]="article"></happening-card>

    </div>
</mat-list>
