happening-card {
  height: 100px;
  width: 60px;
}

.filter-container {
  margin: 20px;
}

.content {
  padding-left: 120px;
}

.paginator {
  float: right;
  margin-bottom: 0;
  height: 50px;
}

.search {
  background-color: white;
  margin-bottom: 0;
}
.top {
  padding-left: 10px;
  height: 50px;
  background-color: white;
  margin-bottom: 0;
}
