<mat-card class="card-wrapper">
  <mat-card-title>Glömt lösenord</mat-card-title>
  <div (click)="$event.stopPropagation();" (keydown.tab)="$event.stopPropagation() ">

    <form (ngSubmit)="reset()" [formGroup]="loginForm" >

      <mat-card-subtitle>Ange ditt LIU-ID så mailar vi dig en länk för att återställa ditt lösenord.</mat-card-subtitle>

      <!--Email-->
      <mat-form-field>
        <input matInput placeholder="LIU-ID" formControlName="liu_id">
        <mat-error *ngIf="liu_id.touched && liu_id.hasError('required')">
          LiU-ID krävs.
        </mat-error>
      </mat-form-field>

      <!--Submit-->
      <div class="reset-button-div">
        <button
          mat-raised-button
          color="primary">
          Fortsätt
        </button>
      </div>
    </form>

  </div>
</mat-card>
