<h2>LIU-ID</h2>

<div class="example-container">
  <table>
  <mat-form-field class="shorter medshort">
    <mat-select placeholder="Nuvarande årskurs">
      <mat-option>--</mat-option>
      <mat-option>1</mat-option>
      <mat-option>2</mat-option>
      <mat-option>3</mat-option>
      <mat-option>4</mat-option>
      <mat-option>5</mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field class="shorter">
    <mat-select placeholder="Klass">
      <mat-option>--</mat-option>
      <mat-option>A</mat-option>
      <mat-option>B</mat-option>
      <mat-option>C</mat-option>
      <mat-option>D</mat-option>
      <mat-option>E</mat-option>
      <mat-option>F</mat-option>
      <mat-option>I</mat-option>

    </mat-select>
  </mat-form-field>
    </table>

  <mat-form-field>
    <input matInput placeholder="Allergier">
  </mat-form-field>

  <mat-form-field id="adress">
    <input  matInput placeholder="Adress">
  </mat-form-field>
  <table>
  <mat-form-field class="shorter medshort">
    <input matInput placeholder="Postnummer">
  </mat-form-field>

  <mat-form-field class="shorter">
    <input matInput placeholder="Ort" >
  </mat-form-field>
  </table>
  <mat-slide-toggle >Ipkuré</mat-slide-toggle>

  <button mat-flat-button color="primary">Spara</button>

</div>


