<h2 *ngIf="user">{{user.first_name+' '+user.last_name | titlecase}}</h2>
<form *ngIf="user" [class.disabled-fields]="!editing" class="example-container" (ngSubmit)="onSubmit(userInformation)" [formGroup]="userInformation">
  <mat-form-field>
    <mat-select placeholder="Kön" [formControl]="userInformation.controls['gender']">
      <mat-option *ngFor="let Gen of Gender" [value]="Gen" ]>Gem</mat-option>

    </mat-select>
  </mat-form-field>


  <table>
    <mat-form-field  class="shorter medshort" >
      <mat-select  placeholder="Nuvarande årskurs" [formControl]="userInformation.controls['current_year']">
        <mat-option value="">--</mat-option>
        <mat-option value="1">1</mat-option>
        <mat-option value="2">2</mat-option>
        <mat-option value="3">3</mat-option>
        <mat-option value="4">4</mat-option>
        <mat-option value="5">5</mat-option>

      </mat-select>
    </mat-form-field>

    <mat-form-field class="shorter">
      <mat-select placeholder="Klass"   [formControl]="userInformation.controls['class']" >
        <mat-option value="" >--</mat-option>
        <mat-option value="A">A</mat-option>
        <mat-option value="B">B</mat-option>
        <mat-option value="C">C</mat-option>
        <mat-option value="D">D</mat-option>
        <mat-option value="E">E</mat-option>
        <mat-option value="F">F</mat-option>
        <mat-option value="IA">IA</mat-option>
        <mat-option value="IB">IB</mat-option>
      </mat-select>
    </mat-form-field>
  </table>

  <mat-form-field >
    <input  matInput placeholder="Allergier" [formControl]="userInformation.controls['allergies']">
  </mat-form-field>

  <mat-form-field id="adress">
    <input matInput placeholder="Adress" [formControl]="userInformation.controls['address']">
    <mat-error *ngIf="userInformation.controls['address'].touched &&
    userInformation.controls['address'].hasError('required')">
      Adress krävs.
    </mat-error>
  </mat-form-field>

  <table>
    <mat-form-field class="shorter medshort">
      <input matInput placeholder="Postnummer" [formControl]="userInformation.controls['zip_code']">
      <mat-error *ngIf="userInformation.controls['zip_code'].touched &&
      userInformation.controls['zip_code'].hasError('required')">
        Postnummer krävs.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="shorter">
      <input matInput placeholder="Ort" [formControl]="userInformation.controls['city']">
      <mat-error *ngIf="userInformation.controls['city'].touched &&
    userInformation.controls['city'].hasError('required')">
        Ort krävs.
      </mat-error>
    </mat-form-field>
  </table>
  <mat-slide-toggle [formControl]="userInformation.controls['newspaper']">Ipkuré</mat-slide-toggle>

  <div>
    <button *ngIf="editing" type="submit" mat-flat-button color="primary" >Spara</button>
    <button *ngIf="!editing" (click)="editFields()" mat-flat-button color="primary">Ändra</button>

    <button type="button" mat-dialog-close mat-flat-button color="warn" id="close">Stäng</button>
  </div>
</form>
