<div class="org-head" style="background-size: cover; background-position: center; /*background-image: url('https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/hero-images/corson.jpg');*/     background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/hero-images/corson.jpg');">

<!--<p style="text-align: center;">bild på I-sektionen logga</p>-->
  <!-- Bild på I-sektionens logga -->
  <div style="width: 200px; height: 200px; background-image: url('https://s3.eu-central-1.amazonaws.com/isektionen-bildbank/ie_cirkel_pms.png'); background-size: contain; margin-left: -100px; left: 50%; margin-top: 30px; position: relative;"></div>
</div>

<!-- Org search
<div class="org-search-wrapper" style="float: right;">
<input type="text" class="org-search">
    <i class="material-icons" style="float: right; cursor: pointer; font-size: 35px">search</i>
</div>
-->

<mat-expansion-panel style="background-color: rgba(0,0,0,0); border: none; box-shadow: none;" [hideToggle] = "true">
  <mat-expansion-panel-header>
    <div style="text-align: center; width: 100%">

      <p style="border: 1px solid black; border-radius: 10px; width: 20%; margin: auto; padding: 5px;">
      Läs mer om Sektionen
      </p>
    </div>
  </mat-expansion-panel-header>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
    ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit
    esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

</mat-expansion-panel>


<h2 style="text-align: center;">Utskott</h2>

<hr> <!-- horisontell linje -->

<div class="org-wrapper">

<app-card *ngFor="let name of organisations" [orgName]="name"></app-card>

</div>
