<mat-card class="example-card" style="width: 49%; float: right;">
  <mat-card-header>
    <mat-card-title>Förhandsvisning</mat-card-title>
    <mat-card-subtitle>Artikel</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="previewToggle">
      <div class="live-preview-frame">
        <h1>{{ post.title }}</h1>
        {{ time }} min sedan
        <hr />
        <span
          class="live-preview"
          [innerHTML]="post.text | MarkdownToHtml"
        ></span>
      </div>
    </ng-container>

    <ng-container *ngIf="!previewToggle">
      <div class="live-preview-card">
        <h1>{{ post.title }}</h1>
        {{ time }} min sedan
        <hr />
        {{ post.ingress }}
      </div>
    </ng-container>
  </mat-card-content>

  <mat-card-actions style="float: left">
    <button pointer mat-flat-button color="warn" (click)="togglePreview()">
      Toggle short version
    </button>
    <button pointer mat-flat-button color="primary" (click)="toggleFullscren()">
      Toggle fullscren
      {{ fullscrenToggle }}
    </button>
  </mat-card-actions>
</mat-card>
