@media only screen and (min-width: 450px) {
  // desktop
  /deep/ .container {
    max-width: 30em !important;
    min-width: 18em !important;
  }
}
@media only screen and (max-width: 450px) {
  // mobile
  /deep/ .container {
    min-width: 70vw !important;
    max-width: 80vw !important;
  }
}
.container {
  padding: 1em 2.5em;
  margin: 1em;
}

.row {
  margin: auto;
}

mat-form-field {
  width: 100%;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6;
}
/deep/
  .mat-slide-toggle.mat-checked:not(.mat-disabled)
  .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}
