<div id="text-edit-div" fxLayout="row" fxLayoutGap="16px">
  <div fxFlex="50">
    <mat-card>
      <h1>Redigera texter</h1>
      <div *ngIf="texts">
        <form [formGroup]="form">
          <mat-accordion>
            <mat-expansion-panel *ngFor="let group of texts | groupBy: 'page'">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{group.key | titlecase}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <mat-form-field *ngFor="let text of group.value">

                <!-- Textarea for the text -->
                <textarea
                  matInput
                  placeholder="{{text.id}}"
                  formControlName="{{text.id}}"
                  value="{{text.value}}"
                  (keyup.control.enter)="editText(text)"
                  matTextareaAutosize
                  (focus)="setCurrentText(text)"
                  (input)="setCurrentText(text)"
                ></textarea>

                <!--Icon for reseting the text to original-->
                <mat-icon
                  *ngIf="isModified(text)"
                  #input
                  matSuffix
                  (click)="resetText(text)">
                  refresh
                </mat-icon>

                <!--Icon for editing the text once edited-->
                <mat-icon
                  #input
                  *ngIf="isEdited(text)"
                  matSuffix
                  (click)="editText(text)">
                  save
                </mat-icon>

                <!--Icon for deleting the text-->
                <mat-icon
                  *ngIf="!isEdited(text)"
                  matSuffix
                  (click)="deleteText(text)">
                  delete
                </mat-icon>
              </mat-form-field>
            </mat-expansion-panel>
          </mat-accordion>
        </form>
      </div>
    </mat-card>
  </div>
  <div fxFlex="50">
    <mat-card>
      <p *ngIf="currentText">
        Redigerar <b>{{currentText.id}}</b>:
      </p>
      <b *ngIf="!currentText">
        Välj text att redigera till vänster.
      </b>
      <div *ngIf="currentText">
        <mat-divider [inset]="true"></mat-divider>
        <span [innerHTML]="currentText.value | MarkdownToHtml"></span>
        <mat-divider [inset]="true"></mat-divider>
      </div>
    </mat-card>
  </div>
</div>
