.container {
  min-height: 100%;
  width: 100%;
  margin: 20px;
}

.header-image{
  background-image: url("https://i.ytimg.com/vi/QUyOXOsXGtA/maxresdefault.jpg");
  background-size: cover;
}

.icon-subtitle {
  margin-top: 5px;
  display: inline-flex;
  vertical-align: middle;
  padding-right: 5px;
}


a {
  text-decoration: none;
  color: black;
}

.organisation-span, .tag-span:hover {
  cursor: pointer;
}

.card-img:hover {
  cursor: pointer;
}

mat-card {
  margin: 10px;
}
