<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title><a routerLink="/iforum">{{ this.articleName }}</a></mat-card-title>
    <mat-card-subtitle><span routerLink="/organisations/Ivent" class="organisation-span">Ivent</span>, 8 dagar, 15 timmar sedan</mat-card-subtitle>

    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons">calendar_today</i>
      <span class="icon-subtitle">
          <span class="tag-span">8 mars 2019</span>
        </span>
    </mat-card-subtitle>

    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons">access_time</i>
      <span class="icon-subtitle">
          <span class="tag-span">17:15</span>
        </span>
    </mat-card-subtitle>

    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons">location_on</i>
      <span class="icon-subtitle">
          <span class="tag-span">T1</span>
        </span>
    </mat-card-subtitle>

    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons">people</i>
      <span class="icon-subtitle">
          <span class="tag-span">12(60)</span>
        </span>
    </mat-card-subtitle>


    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons">error_outline</i>
      <span class="icon-subtitle">
          <span class="tag-span">5 dagar, 21 h</span>
        </span>
    </mat-card-subtitle>

    <mat-card-subtitle class="icon-subtitle">
      <i class="material-icons tag-icon">bookmark_border</i>
      <span class="icon-subtitle">
          <span class="tag-span">I-forum</span>
        </span>
    </mat-card-subtitle>

  </mat-card-header>
  <mat-card-content>
    <p>
      Vad har du drömt om att förändra med i-sektionen? Sväng förbi oss och berätta under vårens i-forum!
    </p>
  </mat-card-content>

  <img routerLink="/readmore" class="card-img" mat-card-image src="https://i.ytimg.com/vi/QUyOXOsXGtA/maxresdefault.jpg">

  <mat-card-actions>
    <button routerLink="/readmore" mat-raised-button color="primary">Läs mer</button>
  </mat-card-actions>
</mat-card>
