<p>
  <!--<button [voting]='votings?.$key' [votingAlternative]='votingItem?.$key'  [userId]='users?.$key' >RÖSTA</button>-->
</p>
<div>
  <h1>Omröstningar!!! kul</h1>
  <!--<h4>Skriv in id</h4>-->

  <mat-form-field appearance="outline">
    <mat-label>Path</mat-label>
    <input matNativeControl #path placeholder="Ex. votings"/>
  </mat-form-field>
  <mat-form-field appearance="outline">
      <mat-label>ID</mat-label>
      <input matNativeControl #id placeholder="Ex. 1"/>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Namn</mat-label>
      <input matNativeControl #name placeholder="Ex. Möte">
    </mat-form-field>
    <button mat-raised-button (click) = "push(path.value, name.value, id.value); name.value = ''; id.value = ''; path.value = ''">Pusha till FireBase</button>
  <p>Hamnar under "Votings" som ett nytt dokument</p>
</div>

