<h1>FAQ</h1>
<div class="center-content">
<mat-accordion class="center-content">
  <mat-expansion-panel *ngFor="let category of getCategory()">
    <mat-expansion-panel-header>
      {{category}}
    </mat-expansion-panel-header>
    <mat-accordion>
      <div *ngFor="let question of questions">
      <mat-expansion-panel *ngIf="question.category === category">
        <mat-expansion-panel-header collapsedHeight="60px">
          {{question.question}}
        </mat-expansion-panel-header>
        {{question.answer}}
      </mat-expansion-panel>
      </div>
    </mat-accordion>
  </mat-expansion-panel>
</mat-accordion>
</div>
