mat-card {
  width: 100%;
  max-width: 450px;
  padding: 16px;
  margin-top: 0px;
}
mat-form-field {
  margin-left: 20px;
  margin-right: 20px;
}

button {
  width: 80%;
  color: white;
  display: flex;
  justify-content: center;
  margin: 0px auto;
  margin-top: 15px;
  margin-bottom: 10px;
}

mat-form-field {
  display: block;
}

form {
  min-width: 90%;
  max-width: 100%;
}

a {
  margin-left: 20px;
  font-size: 12px;
}
