.org-icon {
    max-height: 100%
}

.org-header {
    max-width: 100%;
}

.outer-wrap {
    margin: 20px;
}

.org-title {
    margin-left: 30px;
    font-size: 50px;
}

.org-text {
    margin: 15px;
}

.org-members-list {
    width: 250px;
}