<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <h1 class="mat-display-3">Webgroup</h1>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>
        <mat-list>
            <mat-list-item> Pepper </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Salt </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Paprika </mat-list-item>
        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>