.outer-wrap {    
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.row {
    margin: 10px;
}

.org-card {
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.org-icon {
    margin: auto;
    max-width: 100%;
    max-height: 200px;
}

.org-header {
    width: 100%;
    max-height: 200px;
}

.org-title {
    /* padding: 20px 0 20px 40px; */
   /*  text-align: center; */
   
   vertical-align: baseline;
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.org-text {
    margin: 15px;
}

.org-members-list {
  width: 90%;
  margin: auto;
  padding: 20px 6px 35px 6px;
}
