<h1>
    FAQ
</h1>

 <mat-list *ngFor="let item of subjects">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.subject}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-list *ngFor="let item of questions">
          <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true"
                                 (closed)="panelOpenState = false">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{item.question}}
                </mat-panel-title>
              </mat-expansion-panel-header>
              {{item.answer}}
            </mat-expansion-panel>
          </mat-accordion>
      </mat-list>

    </mat-expansion-panel>
  </mat-accordion>
 </mat-list>



