<div id="categories">
 <!-- <h2>
    Kategori 1
  </h2>

  <h4 (click)="click()">
    Fråga 1
  </h4>
  <div id="answers" *ngIf="x">
    test
  </div> -->
  <app-questansw [answer]="test_1" [question]="fraga_1"></app-questansw>
  <app-questansw [answer]="test_2" [question]="fraga_2"></app-questansw>
<div>


<h1>FAQ</h1>
<div *ngFor="let element of questions">
  <div id="question" (click)="click(element)">
    {{element.question}}
  </div>
  <div id="answer" *ngIf="element.clicked">
    {{element.answer}}
  </div>
</div>



</div>
