

.card{

 /* position: relative;*/
  /*display: inline-block;*/
  width: 150px;
 /* height: 200px;*/
  margin: 13px;
  /*border: 2px solid red;*/
  /*border-radius: 10px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  overflow:hidden;
}

@media (max-width: 600px) {
  .card {
    max-width: 80px;
    margin: 5px;
    font-size: 9px;
  }
}
.card:hover{
  /*border-radius: 10px;*/
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  overflow:hidden;
}

.img-container{
  //width: 200px;
  height: 150px;
  //margin: auto;
  overflow:hidden;
}

img:hover{
  transform: scale(1.02);
  transition: .5s;
}

/*img {
  width: 200px;
  height: 250px;*/
  /*object-fit: cover;*/
 /* overflow: hidden;
  /*height: auto;
  width: auto\9; /* ie8 */
 /* border-radius: 10px;

}*/


.card-title {
  text-align: center;
  text-transform: capitalize;
}

