<div [ngSwitch]="collection">
  <div *ngSwitchCase="'organisations'">
    <app-upsert-organisation [organisation]="item"></app-upsert-organisation>
  </div>
  <div *ngSwitchCase="'users'">
    <p>Create user not implemented yet.</p>
  </div>
  <div *ngSwitchCase="'sponsors'">
    <app-upsert-sponsor [sponsor]="item"></app-upsert-sponsor>
  </div>
  <div *ngSwitchCase="'polls'">
    <app-upsert-voting [poll]="item"></app-upsert-voting>
  </div>
  <div *ngSwitchCase="'pollq'">
    <app-create-vote></app-create-vote>
  </div>
</div>
