.content img{
  display: inline-block;
  float: left;
  margin: 5px;
  max-width: 100px !important;
}

.content p{
  color: green;
}

.content{
  border: blue 2px solid !important;
  color: black;

}

img {
  width: 50px;
}
