.create-posts-content img{
  display: inline-block;
  float: left;
  margin: 5px;
  max-width: 100px !important;

}

.create-posts-content p{
  color: black;
}

.create-posts-content{
  border: blue 2px solid !important;
  color: black;
  overflow:hidden;
}


