<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Attribut">
    <ng-template matTabContent>
      <app-attributes
        (eventEmitter)="eventEmitter($event)"
        (postChange)="postChange($event)"
        [post]="post"
      ></app-attributes>
    </ng-template>
  </mat-tab>
  <mat-tab label="Text">
    <ng-template matTabContent>
      <app-post-content
        *ngIf="!fullscreenToggle"
        [post]="post"
        (postChange)="postChange($event)"
      ></app-post-content>
      <app-live-preview
        [post]="post"
        (fullscrenEmit)="fullscrenEmit($event)"
      ></app-live-preview>
    </ng-template>
  </mat-tab>
</mat-tab-group>
