mat-form-field {
  display: block;
  margin: -8px 0;
}

button {
  width: 100%;
}

span {
  padding: 2px 0 0 10px;
}

mat-progress-spinner {
  margin: 1px;
}

mat-radio-group {
  display: inline-flex;
  flex-direction: column;
}

mat-radio-button {
  margin: 8px;
}

mat-label {
  color: rgba(0, 0, 0, 0.54);
}
