<div [formGroup]="form">
  <div [ngSwitch]="formField.controlType">

    <!-- input -->
    <mat-form-field *ngSwitchCase="'input'">
      <input matInput placeholder="{{formField.label}}" formControlName="{{formField.key}}" [type]="formField.type">
    </mat-form-field>

    <!-- textarea -->
    <mat-form-field *ngSwitchCase="'textarea'">
      <textarea matInput placeholder="{{formField.label}}"
                formControlName="{{formField.key}}" matTextareaAutosize></textarea>
    </mat-form-field>

    <!-- dropdown -->
    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select placeholder="Ledare" [formControlName]="formField.key">
        <mat-option *ngFor="let option of formField.selectOptions" [value]="option.value">
          {{option.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>
